.blog-heading {
  font-size: 3rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}
.sub-heading {
  font-size: 1.5rem;
  color: rgb(180, 179, 179);
}
.category-name {
  font-size: 2rem;
  color: grey;
  font-weight: 500;
}
.small-heading {
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(180, 179, 179);
  span {
    font-size: 1.1rem;
    color: grey;
  }
}
.blog-img {
  object-fit: cover;
  height: 40%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
    @media (max-width: 518px) {
    height: 20rem;
  }
}
.info-group {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 7px;
  @media (max-width: 625px) {
    gap: 3px;
  }
}
.activities {
  display: flex;
  gap: 2rem;
  align-items: center;
  .bookmark {
    background-color: transparent;
    border: none;
    width: fit-content;
    .bookmark-custom {
      font-size: 3rem;
      color: yellow;
    }
  }
  .like {
    background-color: transparent;
    border: none;
    width: fit-content;
    .like-custom {
      color: pink;
      font-size: 3rem;
    }
  }
}
.container {
  width: 100%;
  height: 100%;
}
